@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

html {
  background: linear-gradient(
    to left bottom,
    rgb(179, 239, 254),
    rgb(218, 255, 255) 40%,
    rgb(232, 255, 255) 70%
  );
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: #006c63;
  border-bottom: 0.3rem solid;
  width: max-content;
  margin: 1em auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  color: #006c63;
  margin: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  min-height: 100vh;
  text-align: center;
}

.books {
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  max-width: 1600px;
}

.book {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 10px 10px 15px -1px #0f5578;
  overflow: hidden;
  background: linear-gradient(160deg, rgb(0, 240, 240) 25%, white);
}

.book img {
  height: 450px;
  width: 100%;
  object-fit: cover;
  background-color: rgb(14, 222, 191);
  margin-bottom: 1rem;
  box-shadow: 0 0 20px #006c63;
}

.book-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.book h3 {
  height: 3.5rem;
  width: 100%;
}

.book p {
  text-align: start;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.book span {
  height: 1.5rem;
}

.book-footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.button {
  border: none;
  outline: none;
  padding: 8px 16px;
  font-size: 1rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.delete {
  background-color: rgb(209, 57, 57);
}

.update {
  background-color: rgb(146, 78, 189);
}

.add {
  margin: 3em 0;
  border: none;
  padding: 0.5em 1em;
  background-color: #006c63;
  cursor: pointer;
  border-radius: 5px;
}

.add a {
  font-size: 24px;
}

.form {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 250px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.formButton {
  border: none;
  padding: 10px;
  background-color: #f48e4a;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
