@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

html {
  background: linear-gradient(
    to left bottom,
    rgb(179, 239, 254),
    rgb(218, 255, 255) 40%,
    rgb(232, 255, 255) 70%
  );
}

.App {
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: #0b7560;
  border-bottom: 0.5rem solid;
  width: max-content;
  margin: 1em auto;
}



.books {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.book {
  height: 37rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(160deg, rgb(0, 240, 240) 25%, white);
  border-radius: 15px;
  box-shadow: 10px 10px 15px -1px #0f5578;
  overflow: hidden;
}

img {
  height: 380px;
  width: 100%;
  object-fit: cover;
  background-color: rgb(14, 222, 191);
  border-radius: 0 0 20px 20px;
  margin-bottom: 1rem;
}

.book-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.book h3 {
  height: 3.5rem;
  width: 100%;
}

.book p {
  text-align: start;
  height: 1.5rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.book span {
  height: 1.5rem;
}

.book-footer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.button {
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.delete {
  background-color: rgb(209, 57, 57);
}

.update {
  background-color: rgb(146, 78, 189);
}

.update a {
  color: white;
}

.add {
  margin: 25px 0;
  border: none;
  padding: 5px 10px;
  background-color: rgb(13, 90, 78);
  cursor: pointer;
  border-radius: 5px;
}

.add a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 250px;
  padding: 10px;
  border: 1px solid gray;
}

.formButton {
  border: none;
  padding: 10px;
  background-color: rgb(244, 142, 74);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
